<section class="sec-banner">
    <div class="bnr-img">
      <img src="<%= bannerImage %>" class="w-100" alt="<%= bannerAlt %>" title="<%= bannerTitle %>">
      <div class="bg-bnr-layer"></div>
      <div class="baner-cont-abs1 d-lg-block d-none">
        <h1><%= bannerHeading %></h1>
      </div>
    </div>
  </section>
  