<%- include('partials/header', { title: 'Blogs | Atha Construction' }) %>

<% 
  bannerImage = '/images/blog-header-image.jpg';
  bannerAlt = 'Construction Blog';
  bannerTitle = 'Construction Insights';
  bannerHeading = 'Insights & Tips from Industry Experts';
%>
<%- include('partials/banner') %>


<section class="blogs">
  <div class="container">
    <h1>Latest News</h1>
    <p>Stay updated with construction tips and our project insights.</p>
  </div>
</section>

<%- include('partials/footer') %>
