<%- include('partials/header', { title: 'Careers | Atha Construction' }) %>

<% 
  bannerImage = '/images/Careers.png';
  bannerAlt = 'Careers';
  bannerTitle = 'Join Our Team';
  bannerHeading = 'Shape the Future of Construction';
%>
<%- include('partials/banner') %>


<section class="py-5 text-center">
  <div class="container">
    <h2 class="mn-hed">Join Our Team</h2>
    <p>Display open roles and application form here...</p>
  </div>
</section>

<%- include('partials/footer') %>
