<%- include('partials/header', { title: 'Gallery | Atha Construction' }) %>

<% 
  bannerImage = '/images/Premium-Materials-and-Craftsmanship.jpg';
  bannerAlt = 'Our Gallery';
  bannerTitle = 'Project Gallery';
  bannerHeading = 'Visualize Your Dream Home with Us';
%>
<%- include('partials/banner') %>


<section class="py-5 text-center">
  <div class="container">
    <h2 class="mn-hed">Our Completed Projects</h2>
    <p>Showcase your image grid or gallery here.</p>
  </div>
</section>

<%- include('partials/footer') %>
