<%- include('partials/header', { title: 'Packages | Atha Construction' }) %>

<% 
  bannerImage = '/images/banner.png';
  bannerAlt = 'Construction Packages';
  bannerTitle = 'Construction Packages';
  bannerHeading = 'Tailored Construction Packages for Every Dream';
%>
<%- include('partials/banner') %>


<section class="py-5 text-center">
  <div class="container">
    <h2 class="mn-hed">Our Construction Packages</h2>
    <p>Content about various construction packages goes here...</p>
  </div>
</section>

<%- include('partials/footer') %>
