<%- include('partials/header', { title: 'Our Projects | Atha Construction' }) %>

<% 
  bannerImage = '/images/properties/banner.png';
  bannerAlt = 'Atha Construction Properties';
  bannerTitle = 'Our Properties';
  bannerHeading = 'Explore Our Premium Property Offerings';
%>
<%- include('partials/banner') %>


<section class="projects">
  <div class="container">
    <h1>Our Completed Projects</h1>
    <p>Explore our latest residential and commercial construction work.</p>
  </div>
</section>

<%- include('partials/footer') %>
