<%- include('partials/header', { title: 'Services | Atha Construction' }) %>

<% 
  bannerImage = '/images/banner-1.png';
  bannerAlt = 'Our Services';
  bannerTitle = 'Our Services';
  bannerHeading = 'Crafting Exceptional Living Spaces';
%>
<%- include('partials/banner') %>



<section class="services-section">
  <div class="container">
    <h1>Our Services</h1>
    <ul>
      <li>Residential Construction</li>
      <li>Commercial Construction</li>
      <li>Interior Design</li>
    </ul>
  </div>
</section>

<%- include('partials/footer') %>
